# 数据库连接配置
DB_HOST=192.168.210.90
DB_PORT=5433
DB_USER=DemoCenter
DB_PASSWORD=4wfsFzr8cp2t8RXp
DB_NAME=DemoCenter

# 物理存储路径 (相对于项目根目录)
PROTOTYPES_ROOT=data/prototypes

# 服务配置
PORT=4000
NODE_ENV=development
